body {
  font-family: "Open Sans", sans-serif;
}

.navbar {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-color: black;
  box-shadow: 0 0.5rem 0.5rem black;
  z-index: 1;
}

.navbar-toggler {
  background-color: rgb(117, 14, 165) !important;
  border:1px solid white !important;
}

.nav-link {
  color: white !important;
  padding-left: 3rem !important;
}


.nav-link:hover {
  color: #7d12e0 !important;
}

.image {
  height: 8rem;
}

.logo-div {
  display: flex;
  color:#7d12e0;
  margin: auto;
  /* border: 3px solid green; */
}

#logo-word {
  margin: auto;
  /* border: 3px solid red; */
  padding-left: 15px;
}

/* ############### END NAV BAR ############################ */


/* ############### FOOTER CSS############################ */

.site-footer {
  background-image: linear-gradient(to right, #08080a, rgb(169, 16, 216));
  padding: 20px 0.6rem;
  color: white;
  size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
}

.footernumber {
  color: white;
  font-size: 20px;
}
.footernumber:hover {
  color: #7d12e0;
}

.social-logo {
  margin: 1%;
}
