

body {
  font-family: "Open Sans", sans-serif;
}

.realnavbar {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  background-image: url('https://ik.imagekit.io/0jty0e7po/48299943216_03191cddb3_o-e1563444620959_L3RqnsQX_.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0.5rem 0.5rem black;
  z-index: 1;
  font-family: 'Press Start 2P', cursive;

}


.navbar-toggler {
  background-color: rgb(117, 14, 165) !important;
  border:1px solid white !important;
}

.nav-link {
  color: white !important;
  padding-left: 3rem !important;
}


.nav-link:hover {
  color: #7d12e0 !important;
}

.image {
  height: 8rem;
}

.logo-div {
  display: flex;

  border: 3px solid green;

}

#logo-word {

 border: 3px solid red;
  font-size: 2rem !important;
  /* font-family: 'Righteous'; */
  font-family: 'Press Start 2P', cursive;
  color: rgb(228, 216, 216);
  margin: auto;
  text-align: center ;
  margin-left: 2vw; 
}


/* ############### AUTH BAR ############################ */

.auth-bar{
  /* background-image: url('https://ik.imagekit.io/0jty0e7po/download_3FGN7aXlf.jpg'); */
  letter-spacing: 0.1rem;
  
  border: 3px solid red;

  /* text-align: 'center';
  font-size: 1.5rem;
  font-weight: 600;
  box-shadow: 0 0.5rem 0.5rem black;
  z-index: 1; */
}

/* ############### FOOTER CSS############################ */

.site-footer {
  background-image: linear-gradient(to right, #08080a, rgb(169, 16, 216));
  padding: 20px 0.6rem;
  color: white;
  size: 2rem;
  letter-spacing: 0.3rem;
  font-weight: 400;
  
}

.footernumber {
  color: white;
  font-size: 20px;
}
.footernumber:hover {
  color: #7d12e0;
}

.social-logo {
  margin: 1%;
}

/* ############### BODY CSS############################ */






/* ############### SIDENAV CSS############################ */
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  /* z-index: 1; Stay on top */
  /* top: 0; /*Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}